
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-width: 100%;
}

body {
    width: 100%;
    min-width: 100%;
    background-color: black;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
#root {
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}